body{
  background-color: lightgray;
}
h1{
  text-align: center;
  background: darkgray;
  margin-left: 20vh;
  margin-right: 20vh;
  opacity: 0.8;
  font-size: 50px;
}
p{
  text-align: center;
  margin-left: 10vh;
  margin-right: 10vh;
  margin-top: 10vh;
  font-size: 20px;
}
img{
  height: 40vh;
  width: 30vh;
  float: left;
}
