body{
  background-color: #060a0a;
  position: relative;
}
h1{
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 45px;
  opacity: 0.9;
}
li{
  text-decoration: none;
  list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
p{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  color: #fff;
  font-size: 35px;
  opacity: 0.8;
}

header{
  background: url(./images/background1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

}
.main{
display: block;
}
.mainhead{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.menu{
  width: 100%;
  z-index: 1;
  background: rgba(255,255,255,0.1);
  top: 0;
  text-align: center;
  opacity: 0.8;
  margin-bottom: 10%
}
.icon{
  display: none;
}
.menu__list{
  display: inline-flex;
}
.menu__list_item{
  list-style-type:none;
  margin-right: 55px;
  text-decoration:none;
  color: #fff;
  text-transform: uppercase;
}
.menu__list_item_link:hover{
  border-bottom: 1px solid #fff;
}
.menu__list_item_link{
  color: #fff;
  font-size: 25px;
  text-decoration: none;
}
.conteiner1{
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center; /*Центрирование по горизонтали*/
  flex-direction: column;
  align-items: center;
  margin-bottom: auto;
}
.conteiner2{
  margin: 0 auto;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  background: #060a1e;
  display: flex;
  flex-flow: column;
  justify-content: center; /*Центрирование по горизонтали*/
  align-items: center;
  margin-bottom: 5%;
}
.photo{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    border-radius: 100%;
}
.photo_box{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.photo_box_item{
  display: flex;
  justify-content: center; /*Центрирование по горизонтали*/
  flex-direction: column;
  align-items: center;
  list-style-type:none;
  margin-right: 30px;
  text-decoration:none;
  color: #fff;
  text-transform: uppercase;
}
.photo_box_item_img{
  width: 240px;
  height: 240px;
  border-radius: 100%;
  margin-bottom: 5%;
}
.photo_me{
  width: 480px;
  height: 480px;
  border-radius: 100%;
}
.inst_photo{
  display: flex;
  flex-direction:column;
}
.inst_photo_box_list{
  position: relative;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 0 auto;
}
.inst_photo_box{
  display: inline-block;
  width: 30%;
  text-align: center;
  margin-bottom: 1%;
}
.inst_photo_box_img{
  width: 360px;
  height: 360px;
  border-radius: 10px;
}
.main_title{
  display: inline;
  vertical-align: middle;
}
@media screen and (max-width:415px){
  header{
    margin-bottom: 200px;
  }
  .main{
    display: block;
    margin: 0 auto;
  }
  .photo_box{
    display:block;

  }
  .photo_me{
    width: 320px;
    height: 320px;
    border-radius: 100%;
  }
  .conteiner1{
    width: 100vh;
    margin: 0 auto;
    margin-bottom: 200px;

  }
  .conteiner2{
    width: 100vh;
    padding-top: 50  %;
    background: #555;
    margin: 0 auto;

  }
  .inst_photo_box_img{
    width: 320px;
    height: 320px;
    border-radius: 10px;
  }
  .inst_photo_box{
    display: block;
    width: 30%;
    text-align: center;
    margin-bottom: 1%;
  }
  .inst_photo_box_list{
    display:block;
    margin: 0 auto;
  }
  .photo_box_item_img{
    width: 150px;
    height:150px;
    border-radius: 100%;
    margin-bottom: 5%;
  }
}
/* @media screen and (max-width:375px){

  .main{
    display: block;
    margin: 0 auto;
  }
  .photo_box{
    display:block;

  }
  .photo_me{
    width: 320px;
    height: 320px;
    border-radius: 100%;
  }
  .conteiner1{
    width: 100vh;
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 200px;
  }
  .conteiner2{
    width: 100vh;
    padding-top: 50  %;
    background: #555;
    margin: 0 auto;
  }
  .inst_photo_box_img{
    width: 320px;
    height: 320px;
    border-radius: 10px;
  }
  .inst_photo_box{
    display: block;
    width: 30%;
    text-align: center;
    margin-bottom: 1%;
  }
  .inst_photo_box_list{
    display:block;
    margin: 0 auto;
  }
  .photo_box_item_img{
    width: 150px;
    height:150px;
    border-radius: 100%;
    margin-bottom: 5%;
  }
} */
