body{
  background-color: #444;
  position: relative;
}
h1{
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 45px;
  opacity: 0.8;
}
p{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  color: #fff;
  font-size: 35px;
  opacity: 0.6;
}

header{
  background: #555;
  width: 100%;
  margin-top: 10%;
  display: flex;
  flex-flow: column;
}
.main{
}
.menu{
  width: 100%;
  position: fixed;
  background: rgba(255,255,255,0.1);
  top: 0;
  text-align: center;
}
.menu__list{

  display: inline-flex;
}
.conteiner1{
  height: 100vh;
  display: flex;
  justify-content: center; /*Центрирование по горизонтали*/
  flex-direction: column;
  margin-bottom: 5%;
  align-items: center;
}
.conteiner2{
  margin: auto;
  height: 100vh;
  background: #555;
  display: flex;
  flex-flow: column;
  justify-content: center; /*Центрирование по горизонтали*/
  margin-bottom: 5%;
}
.photo{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    border-radius: 100%;
}
.photo_box{
  display: flex;
  justify-content: center;
}
.photo_box_item{
  display: flex;
  justify-content: center; /*Центрирование по горизонтали*/
  flex-direction: column;
  align-items: center;
  list-style-type:none;
  margin-right: 30px;
  text-decoration:none;
  color: #fff;
  text-transform: uppercase;
}
.photo_box_item_img{
  width: 240px;
  height: 240px;
  border-radius: 100%;
  margin-bottom: 5%;
}
.photo_me{
  width: 480px;
  height: 480px;
  border-radius: 100%;
}
.inst_photo_box{
  display: flex;
  flex-direction:column;
}
.inst_photo_box_list{
  display:inline;
}
.inst_photo_box_img{
  margin-right: 10px;
  width: 360px;
  height: 360px;
  border-radius: 10px;
}
.menu__list_item{
  list-style-type:none;
  margin-right: 55px;
  text-decoration:none;
  color: #fff;
  text-transform: uppercase;
}
.menu__list_item_link{
  color: #fff;
  font-size: 25px;
  text-decoration: none;
}
.main_title{
  display: inline;
  margin-bottom:   5%;
}
